body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.text-color{
    color:#ff0099;
}

.half-width{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}

.img-width{
    width:25%;
    float:left; 
    margin-top: 4%; 
    padding-left: 2%;
}

.first{
    margin-left: 10%;
}

.img-width img{
    width:100%;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.latest-work{
    padding-top: 5%;
}

.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.work-banner{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.biography-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.half-width img{
    width: 100%;
}

section{
    height: 600px;
    padding-bottom: 100px;
}


p{
    color:gray;
}

.link-button{
    text-decoration: none;
    background-color:#ff0099;
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.center-text{
    text-align: center;
}

.align-text{
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
}

#small-letter{
    font-size: 10px;
    text-align: center;
    color: white;
}

.div-contact {
    margin-left: 30%;
    border-radius: 10px;
    padding-top: 2%;
    text-align: center;
    width: 600px;
    height: 120px;
    background-color: #ff0099;
}

.div-contact p{
    color: white;
    text-align: center;
}

.client-banner{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

footer{
    padding-top: 10%;
    text-align: center;
    font-size: 12px;
}
